body {
    background: url(images/scen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100%; */
    height: 97vh;
}

@media screen and (max-width:400px) {
    .main {
        height: 100%;
    }
}



.container {
    display: flex;
    background: rgba(39,28,24,0.5);
    border-radius: 1rem;
    width: 75%;
    /* margin: 10% auto 0; */
    /* height: 35vh;*/
}

@media screen and (max-width:400px) {
    .container {
        height:80%;
        flex-wrap:wrap;
        width:90%;
    }
}

.container .results {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 25%;
    padding: 10px;
    text-shadow: grey 2px 0px;
}

@media screen and (max-width:400px) {
    .container .results {
        width:100%;
    }
}

.results #country {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin:25px 0;
}

.results .temp-icon {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.temp-icon #temperature {
    font-size: 4rem;
    width: 50%;
}

.temp-icon #icon1 {
    /*width: 42%; */
} 

.temp-icon #icon1 #icon {
    padding-top: 20px;
    width: 120%;
}


.humidity-wind {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:1.1rem;
}

.humidity-wind img {
    width:30%;
}

.humidity-wind #humidity {
    width:50%;
    justify-content: center;
    display: flex;
    align-items: center;
}



.humidity-wind #wind-speed {
    width:50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    color: rgb(246, 246, 246);
    /* background: black; */
    /* opacity: 0.4; */
    font-weight: bold;
    align-items: center;
    /* background: rgba(39,28,24,0.3); */
    margin: 0 auto;
    text-shadow: grey 2px 0px;
}

@media screen and (max-width:400px) {
    .forecast {
        flex-wrap: wrap;
        width:100%;
    }
}

.forecast .hourlyContainer {
    margin:20px;
    text-align:center;
    
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer {
        width:10%;
    }
}


.forecast .hourlyContainer .timeIncrement {
    font-size: 1.5rem;
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer .timeIncrement {
        font-size:1rem;
    }
}


.forecast .hourlyContainer .temperature {
    font-size: 1.5rem;
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer .temperature {
        font-size:1rem;
    }
}


.forecast .hourlyContainer img {
    width:90%;   
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer img {
        font-size:1rem;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer .humidity-wind {
    font-size:0.8rem;
    }
}

@media screen and (max-width:400px) {
    .forecast .hourlyContainer .windSpeed {
    font-size:0.8rem;
    }
}



.search-bar {
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: 25px;
    /* margin: 40px auto 0px; */
    flex-direction: row;
    justify-content: center;
}


.localTime {
    color: white;
    text-align: center;
    width: 20%;
    font-size: 1.5rem;
    background: rgba(39,28,24,0.3);
    border-radius: 1rem;
    padding: 15px;
}

@media screen and (max-width:400px) {
    .localTime {
    width:50%;
    }
}


.text-area {
    width: 20%;
    background: rgba(39,28,24,0.5);
    border-radius: 1rem;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width:400px) {
    .text-area {
        width:50%;
        margin-right:0px;
        height:25%;
    }
}



.text-area .inputField{
    opacity: 1;
    background: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight:bold;
    border-radius:1rem;
    width:85%;
}

.text-area button {
    background: rgba(39,28,24,0.5);
    color: white;
    /* border: 0px; */
    cursor: pointer;
    border-radius: 0rem;
    padding: 14px;
    font-size: 15px;
    margin-top: 16px;
    font-weight:bold;
    border-radius:1rem;
}

::placeholder {
    color:white;
    
}

.hide {
    display:none;
}

.beginning {
    position: absolute;
    width: 15%;
    top: 40%;
}

@media screen and (max-width:400px) {
    .beginning {
    height:15%;
    width:60%;
}
}